  <div class="jumbotron">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </div>
    <h1 class="bg-primary">Authentication!!</h1>
    <% if (loggedIn) {%>
      Yay... you logged in
      <a href="/logout">logout</aL
    <% }else { %>  <a href="/login">Login</a>
    <%}%>
